*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  height: -webkit-fill-available;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: -webkit-fill-available;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-block-start: 24px;
  margin-block-end: 14px;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  margin-block-end: 0;
  margin-block-start: 0;
}

main {
  margin: auto;
}

.container {
  width: 320px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
  text-align: center;
}

.text-containter {
  padding: 0 15px;
}

.qr-img {
  border-radius: 10px;
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
